.lds-facebook {
  display: inline-block;
  position: relative;
  margin-left: 50%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ffcd8d;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(243, 240, 240, 0.836);
}

nav {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7vh;
  background-color: #efefef;
  list-style: none;
}

nav ul a {
  color: #000000;
}

nav ul a:hover {
  background: #ffcb87;
  text-decoration: none;
  border-radius: 15%;
}

nav input {
  color: #0000007c;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 93vh;
    top: 7vh;
    background-color: #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 35%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .relevant #product-colors {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 10.22222%;
    width: 10px;
    padding: 6px;
    margin: 2px;
  }
  .relevant #product-colors:nth-child(9n) {
    margin-right: 0;
  }
  .home {
    margin-left: 10%;
    width: 90%;
    margin-top: 15%;
  }
  #random-item {
    margin-left: 10%;
    width: 90%;
    margin-top: 15%;
  }
  .lds-facebook {
    margin-left: 40%;
  }
  #categories .card {
    width: 90%;
  }
  #categories .card img {
    max-height: 250px;
  }
  #categories p {
    font-size: 0.7em;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

to {
  opacity: 1;
  -webkit-transform: translateX();
          transform: translateX();
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 1;
}

.active li {
  opacity: 1;
  padding: 30px;
  -webkit-animation: navLinkFade 1.1s ease forwards 0.2s;
          animation: navLinkFade 1.1s ease forwards 0.2s;
}

.router-link-active {
  background-color: #ffcd8d;
  border-radius: 15%;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffc882;
  margin: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav {
  margin-bottom: 7%;
}

@media only screen and (max-width: 375px) {
  .card {
    width: 90%;
  }
  .card img {
    max-height: 200px;
  }
  .card #product-colors {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 10.22222%;
    width: 10px;
    padding: 6px;
    margin: 2px;
  }
  .card #product-colors:nth-child(9n) {
    margin-right: 0;
  }
  #random-item {
    min-height: 80vh;
    margin-top: 20%;
  }
  #random-item .one .card .card-content {
    overflow: auto;
    height: 300px;
  }
  #random-item .btn {
    background-color: #ffd8a6;
    width: 100%;
  }
  .home {
    min-height: 80vh;
    margin-left: 10%;
    margin-top: 25%;
  }
  .home h2 {
    text-align: center;
  }
  #selected-item {
    min-height: 80vh;
    margin-left: 10%;
    margin-top: 20%;
  }
  #selected-item .circle {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
    border-radius: 20%;
    margin: 2px;
    height: 1em;
    width: 1em;
  }
  #selected-item .circle:nth-child(4n) {
    margin-right: 0;
  }
  .lds-facebook {
    margin-right: 80%;
  }
  .browser-default {
    margin-top: 20%;
    background-color: #ffdcb0;
    border-radius: 30px;
    width: 15%;
    margin-left: 75%;
  }
  .browser-default option {
    background-color: #efefef;
  }
}

.circle {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 9.33333%;
  border-radius: 20%;
  margin: 2px;
  height: 1em;
  width: 1em;
}

.circle:nth-child(9n) {
  margin-right: 0;
}

@media only screen and (min-width: 600px) {
  #selected-item {
    min-height: 90vh;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (45%)[2];
        grid-template-columns: repeat(2, 45%);
  }
  #selected-item a {
    font-weight: bold;
    color: #ffcd8d;
  }
  #selected-item .one {
    width: 70%;
  }
  #selected-item .one .card .card-content img {
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    width: 70%;
  }
  .relevant .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (220px)[2];
        grid-template-columns: repeat(2, 220px);
  }
  .relevant .card img {
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
  }
  .relevant .card a {
    font-weight: bold;
    color: #ffcd8d;
  }
  .relevant #product-colors {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 10.22222%;
    width: 10px;
    padding: 6px;
    margin: 2px;
  }
  .relevant #product-colors:nth-child(9n) {
    margin-right: 0;
  }
  #random-item {
    min-height: 100vh;
  }
  #random-item .one .card {
    margin-left: 25%;
    width: 50%;
    border-radius: 5%;
  }
  #random-item .one .card .card-content {
    overflow: auto;
    height: 300px;
  }
  #random-item .one .card img {
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  #random-item .btn {
    background-color: #ffd8a6;
    margin-left: 40%;
  }
  .home {
    min-height: 100vh;
  }
  .home .container .card {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px;
        grid-template-columns: 200px 200px;
    grid-column-gap: 20px;
    -ms-grid-rows: 250px;
        grid-template-rows: 250px;
  }
  .home .container .card img {
    height: 100%;
  }
  .home .container .card a {
    cursor: pointer;
  }
  .home .container .card .card-content {
    padding-left: 20px;
  }
  .home .container .card .card-content .card-title {
    width: 100%;
    margin-top: -20px;
  }
  .home .container .card #product-colors {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 10.22222%;
    width: 10px;
    height: 10px;
    padding: 6px;
    margin: 2px;
  }
  .home .container .card #product-colors:nth-child(9n) {
    margin-right: 0;
  }
  #categories {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[3];
        grid-template-columns: repeat(3, 25%);
    grid-column-gap: 1%;
    min-height: 70vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #categories .container .card img {
    height: 250px;
    width: 100%;
  }
  #categories .container .card .card-content {
    height: 220px;
  }
  #categories .container .card .card-content p {
    font-weight: bold;
  }
  .browser-default {
    background-color: #ffdcb0;
    border-radius: 30px;
    width: 8%;
    margin-left: 80%;
  }
  .browser-default option {
    background-color: #efefef;
  }
}

.page-footer {
  background-color: #e2e2e2;
}

.page-footer h5 {
  color: #ffab40;
}

.page-footer li {
  opacity: 1;
}

.page-footer li a {
  color: #ffffff;
}

.page-footer li .router-link-active {
  background-color: transparent;
}
/*# sourceMappingURL=styles.css.map */